<link rel="stylesheet" href="login.component.css" >

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
  
<body class="body">
    <div class="container">
        <div class="header">
            <h2>Login</h2>
            <h4 style="font-size:13px; font-family:Arial">ingrese sus datos para guardar sus resultados en su perfil</h4>
        </div>
    

        <div class="fields">
            <h3>Email</h3>
            <input type="text"  style="height:40px; width:500px; ;color:#16110f;font-size:20px;font-family: Homenaje;border-width:1" placeholder=" Email" required>
        </div>
        <br>
        <div class="fields">
            <h3>Contraseña</h3>
            <input type="text"  style="height:40px; width:500px; ;color:#16110f;font-size:20px;font-family: Homenaje;border-width:1" placeholder=" ******************" required>
        </div>
        <button class="button" style="margin-top:3%"><a href="COLORLAB\src\app\perfil\perfil.component.html">Log in </a></button>

        <div class="forgot password">
           <p class="passwordloss">se te olvido tu contraseña?</p>
        </div>

        <div class="signing">
            <h1>Sign up</h1>
            <h4 style="margin-bottom:0%;font-family:arial;font-size:13px">Crea una cuenta para guardar todos tus resultados</h4>
            <button class="button" style="background-color:#E2C2AB;margin-top:3%;font-size:18px">Sign up</button>
        </div>

        <br><br><br>
    </div>

  

 
        
</body>