<body class="body">
      <div class="container">
        <br>
        <div class="header"><h2>Test</h2></div>
        <p class="bodytext">¡Descubre tu colorimetría!</p>
      
        
        </div>
<div class="row">
    <div class = "col s12 push-s1 bodytext ">Instrucciones</div>
    <ol class="col s12 push-s1 bodytext">
        <li>Registra tus datos en la siguiente pagina.</li>
        <li>Ten una foto lista tuya en luz natural, o con tu camara tomate una foto.</li>
        <li>Elige los colores que mas se parezcan a tu piel, pelo y ojos.</li>
        <li>Tu colorimetria estara lista cuando termines el test.</li>

    </ol>




  



    <div class="center-align"> 
        <a class="btn-large" href="/test-instr">PRUÉBALO</a>
</div>




<br><br>

      </div>
        </body>