


<body>
      <div class="container">
<div class="header"><h2>Sobre Nosotros</h2></div>

                
      
        <div class="col s12 m8 offset-m2 l6 offset-l3">
              <div class="row valign-wrapper">
                <div class="col s4">
                  <img src="../../assets/pics_home/6.jpg" style="width: 300px; border-radius: 10px;"> 
                </div>
                <div class="col s10">
                  <span class="bodytext">
                    Colorlab
 es un sitio web creado por un grupo de estudiantes universitarios en 2022. 
 Este se dedica a crear un diagnóstico de la mejor y peor paleta de colores para complementar y cuáles evitar para los distintos tonos de piel, ojos y cabello de usuarios
                  </span>
                </div>
              </div>
            </div>
         
            <div class="center-align">
                <a class="headtitles">NUESTRA META</a>


<div class="bodytext">
        <p>Con este sitio, Colorlab
            busca ayudar a los usuarios a experimentar con nuevos colores y darles un toque de confianza. 
            Se busca crear una comunidad de confianza y buena autoestima para que encuentres tu verdadero potencial fashionista
           .
        </p>
        </div>
        <a class="headtitles">NUESTRO SERVICIO</a>
        <div class="bodytext">
            <p>Colorlab
  
                te pide llenar un formulario sobre información personal como tu correo electrónico, 
                tu género, entre otros para tener más detalles para contactarte y también preguntas sobre tu complexión, 
                sea de tu color de ojos, cabello, etc. Se te predirá unas fotos de referencia y se te crearán una paleta 
                de colores preferida y una de cuáles colores evadir. Si se te crean dudas, comunicación entre la compañía 
                y usuario se puede crear a través de correo electrónico. Se puede mantener esta paleta de colores dentro 
                de la cuenta de usuario también.
            </p>
            <br>
            </div>
</div>
 <div class="center-align">
        <a class="btn-large" href="/test-instr">PRUÉBALO</a>
</div>

<br> <br> 
      </div>
    </body>
          
