<div class="row white-text" style="text-align: center; background-color: #A38F85;">
  
    <div class = "col s1" style="padding-top: 30px; padding-bottom: 15px; padding-left: 40px;">
        <img src="../../../assets/icons/LOGO.PNG" style="height: 80px;"> 
    </div>

    <a href = "#" class = "col s1 push-s2 headtitles" style="margin-left: 70px;">ABOUT</a>
    <a href = "#" class = "col s2 push-s2 headtitles">TEST</a>
    <a href = "#" class = "col s2 push-s1 headtitles" style="margin-left: 120px;">RESULTADOS</a>
    <a href = "#" class = "col s1 push-s1 headtitles">CONTACTO</a>

    <div class = "col s1 right">
        <img src="../../../assets/icons/user.png" style="height: 50px; margin-top: 40px; margin-right:100px;"> 
    </div>
  </div>