@import url('https://fonts.googleapis.com/css?family=Bayon');
.row{
    margin: 0px;
}

.headtitles{
    color: white;
    padding: 50px;
    font-family: 'Bayon';
    letter-spacing: 5px;
    font-size: 30px;
    margin-left: -100px;
    
}