<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <nav>
    <div class="nav-wrapper" style="background-color: #A38F85;">
        <a href="#"><img src="../../../assets/icons/LOGO.PNG" style="height: 40px; margin-top: 15px; margin-left:30px;"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about-page" class="headtitles">ABOUT</a></li>
        <li><a href="/test-instr"class="headtitles">TEST</a></li>
        <li><a href="#"class="headtitles">RESULTADOS</a></li>
        <li><a href="#"class="headtitles">CONTACTO</a></li>
        <li><a href="#"><i class="material-icons" style="font-size: 50px; margin-top: 0px; margin-right: 40px;">account_circle</i></a></li>
      </ul>
    </div>
  </nav>
        

