<body style="text-align: center; margin-left: 50px; margin-right: 50px;"><h1 style="font-family: Alice; text-align: center; color:#8A6B5E; font-size: 40px;">Vive la experiencia COLORLAB</h1>

<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2" style="border-radius: 25px;">Toma el test</a>
    </div>
    <div class="carousel-item"><img src="../../assets/pics_home/1.jpg">
  
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item"><img src="../../assets/pics_home/2.jpg">

      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item"><img src="../../assets/pics_home/3.jpg">
    
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item"><img src="../../assets/pics_home/4.jpg">
 
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div></body>