<link rel="stylesheet" href="perfil.component.css" >

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body class=body>
    <div class="container">

        <div class="header">
            <h1>Bienvenida, Miriam</h1>
            <br>
            <img src="/colorlab/profilepic.png" alt="Profile picture" style="height: 200px; width:200px">

        </div>
        <div class="edit">
            <h5>Editar perfil</h5>
        </div>
        <div class="info">
            <p>Eres de color de piel oscura, color cafe de ojos y tu cabello es de color negro.</p>
            <p>Eso quiere decir que tu temporada es VERANO.</p>

 
            
            <p>Según tus resultados, esto es lo que te favorece en:</p>
        </div>

       
        <br>

            
            <div class="stylying ">
                <div class="square"style="background-color:#ffba01"></div> 
                    <h3 style="margin-left:20%">Ropa</h3>
                </div>

                <br>
                <br>

                <div class="stylying">
                    <div class="square"style="background-color:#490010"> </div> 
                    <h3 style="margin-left:20%">Tinte de cabello</h3>
                </div>

                <br>
                <br>
                
                <div class="stylying">
                    <div class="square"style="background-color :#33b3a6;"> </div> 
                    <h3 style="margin-left:20%">Maquillaje</h3>
                </div>

                <br> 
                <br>

                <div class="stylying">
                    <div class="square"style="background-color:#00b571;"> </div> 
                    <h3 style="margin-left:20%">Accessorios</h3>
                </div>
                 
                <br>
                <br>
  <!--container cap-->  
</div>

</body>