

<!-- header-->

<body style="margin-top:0px;" class="body">

    <div class="container">
        <div class="header">
            <div class="top">
                <h2>Registro </h2>

                <a class="btn-large" href="/test-foto">SIGUIENTE</a>

            </div>
            <div class="sub">
                <h3 style="color:#776257;font-family:Fira Sans;font-style:italic;margin-top:0%">Ingresa tus datos! </h3> 
            </div>
        </div>
            
           <!--filling out info boxes-->
           <br>
            <form action="#">
                <div class="forms">

                    <div class="personal details">

                        <div class="fields">
                            <div class="input-field">
                                <h3>Nombre(s)</h3>
                                <input type="text"  
                                style="height:40px; width:300px; background-color:#cdc6c3;color:#16110f;font-size:20px;font-family: Homenaje;border-width:0" 
                                placeholder=" Nombre(s)" required>
                            </div>
                            <div class="input-field">
                                <h3>Email</h3>
                                <input type="text"  
                                style="height:40px; width:300px; background-color:#cdc6c3;color:#16110f;font-size:20px;font-family: Homenaje;border-width:0" 
                                placeholder=" Email" required>
                            </div>
                        </div>
                            <div class="fields">
                            <div class="input-field">
                                <h3>Apellido(s)</h3>
                                <input type="text"  
                                style="height:40px; width:300px; background-color:#cdc6c3;color:#16110f;font-size:20px;font-family: Homenaje;border-width:0" 
                                placeholder=" Apellido(s)" required>
                            </div>

                            <div class="checking"><h3>Sexo</h3>
                                <div class="input-field">
                                    
                                    <input type="checkbox"  
                                    style="height:30px; width:100px;border-width:0;margin-bottom:9px" 
                                    id="Masculino" name="Masculino"  for="Masculino" > <label for="masculino">Masculino</label>
                                </div>

                                <div class="input-field col s3 right">
                                    <input type="checkbox"  
                                    style=" height:30px; width:100px;border-width:0;margin-bottom:9px" 
                                    id="Femenino" name="Femenino"  for="Femenino" > <label for="Femenion">Femenino</label>
                                </div>

                                <div class="input-field">
                                    <input type="checkbox"  
                                    style="height:30px; width:100px;border-width:0;margin-bottom:9px" 
                                    id="Otro" name="Otro"  for="Otro" > <label  for="Otro">Otro</label>
                                </div>

                                <div class="input-field">
                                    <input type="checkbox"  
                                    style="height:30px; width:100px;border-width:0;margin-bottom:9px" 
                                    id="Prefno" name="prefno"  for="prefno" > <label for="prefno">Prefiero no decirlo</label>
                                </div>
                        </div>
                            </div>
                            

                            <div class="fields">
                                <div class="input-field">
                                    <h3>Edad</h3>
                                    <input type="text"  
                                    style="height:40px; width:300px; background-color:#cdc6c3;color:#16110f;font-size:20px;font-family: Homenaje;border-width:0" 
                                    placeholder=" Edad" required>
                                </div>
                             </div>
                    </div>
               
                </div>
            </form>

        <br><br><br>

        </div> 
      
            
        <!--container cap-->

 </body>



