<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<body style="margin-top:0px;" class="body">

<br>
<div class="container">

    <div class="headtitles center-align">CONTACTO</div>
    <div class = "bodytext center-align">Si tienes alguna pregunta especifica para nosotros, puedes contactarte directamente con nosotros.</div>
<br>
    <div class="row">
        <div class="card-panel grey lighten-5 z-depth-1 col s5 push-s1">
            <div class="bodytext" style="color: #A38F85;">
                        CORREO
            </div> 
            
            <div class="bodytext">
            colorlab@gmail.com            
            </div>
            <div>
               <a href="mailto:colorlab@gmail.com"><i class="material-icons-outlined" style="font-size: 100px; margin-top: 0px; color: #A38F85;">email</i></a>
            </div>
                <div class="row valign-wrapper">
                  </div>
                  
                </div>


        <div class="card-panel grey lighten-5 z-depth-1 col s5 push-s1" style="margin-left: 15px;">
        <div class="bodytext" style="color: #A38F85;">
                    TELEFONO
        </div> 
        
        <div class="bodytext s1 push-s1">
        (686) 114 - 4997            
        </div>
        <div>
           <a href="tel:686-114-4997"><i class="material-icons-outlined" style="font-size: 100px; margin-top: 0px; color: #A38F85;">call</i></a>
        </div>
            <div class="row valign-wrapper">
              </div>
              
            </div>
            
                          
</div>

<div class = "bodytext center-align">¿Tienes una sugerencia para nosotros? ¡Queremos saber!</div>
        <div class="input-field" >
        <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea" class="materialize-textarea"></textarea>
                      <label for="textarea">Escribe tu sugerencia aqui</label>
                    </div>
                  </div>
                </form>
              </div>
</div>
<br>
<!--CONTAINER-->
</div>

</body>