<html>
<head>
<title>Sign-Up | COLORLAB</title>
	<link rel="stylesheet" type="text/css" href="signup.component.css">
</head>
<body>
	<div id="login-box">

		<div class="left-box">
		<h1 style="font-weight: 1200; font-style:Bayon; text-align:center;">SIGN UP</h1>
		<p>Ingresa tus datos</p>
		<p>Full Name:</p>
		<input type="text" name="fullname" placeholder="Jane Doe"/>
		<p>Phone Number:</p>
		<input type="text" name="phonenumber" placeholder="(XXX) XXX-XXXX"/>
		<p>Email:</p>
		<input type="text" name="email" placeholder="janedoe@email.com"/>
		<p>Username:</p>
		<input type="text" name="username" placeholder="janedoe97"/>
		<p>Password:</p>
		<input type="password" name="password" placeholder="Password"/>
		<p>Re-type Password:</p>
		<input type="password" name="password2" placeholder="Retype Password"/>
		
		<input type="submit" name="signup-button" value="Create Account"/>
		</div>
		<div class="right-box">
			<span class="signinwith">Sign in with social network<br></span>
			<button class="social facebook">Log in with Facebook<a href=facebook.com></a></button>
			<button class="social twitter">Log in with Twitter</button>
			<button class="social google">Log in with Google+</button>
		</div>
		<div class="or">OR</div>
    </div>
</body>
</html>