<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<body class="body">
    <br>
    <div class="container">


   <div class="row" style="margin-bottom: -20px;">   
    <br><br>
<div class="header col s1 m3 l3">Fotografía</div> 
<div class="col s2 push-s7 push-m6 push-l7">


    <a class="btn-large waves-effect waves-light modal-trigger" data-target="subiendose">SUBIR</a>
    <div class="modal" id="subiendose">
        <div class="modal-content modtext">
            ¡Tu foto se ha subido!
            <br>
            <a class="btn-small" href="#"><i class="material-icons-outlined" style="font-size: 40px; color: #A38F85; margin-top: 10px;">navigate_next</i></a>
        </div>
    </div>
    
</div>

</div>  <!--ROW-->
<p class="bodytextitalic">¡Tómate una foto o sube una!</p>
<br>
<div class="containerextra">
<div class="card-panel grey lighten-5 z-depth-1 col s12">
    <div class="bodytext" style="color: #A38F85;">
                <div class="row">
                    


                    <div class="image-upload">
                        <label for="file-input">
                            <i class="material-icons-outlined col s2 push-s3 push-l4 push-m3" 
                            style="font-size: 100px; margin-top: 0px; color: #A38F85;padding-right: 25px;">photo_camera</i>
                        </label>
                        <input id="file-input" type="file" accept="image" /> 
                        
                      </div>

                      <div class="image-upload">
                        <label for="file-input">
                            <i class="material-icons-outlined col s2 push-s4" 
                            style="font-size: 100px; margin-top: 0px; color: #A38F85; padding-left: 25px;">upload_file</i>
                        </label>
                        <input id="file-input" type="file" accept="image" /> 
                      </div>
                </div>
    </div> 
    </div>  
</div>
<br>
<br>
<br>
    </div> <!--CONTAINER-->
</body>
