@import url('https://fonts.googleapis.com/css?family=Alatsi');
@import url('https://fonts.googleapis.com/css?family=Homenaje');
@import url('https://fonts.googleapis.com/css?family=Bayon');


.header{
    font-family: Alatsi;
    letter-spacing: 5px;
    color: #857066;
    font-size: 45px;
}

.btn-large{
    background-color: #E7D7C9;
    border-radius: 20px;
    color: #776257;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }
  
  .textwithimage{
    margin: 0px;
    top: -200;
  }


  .bodytext{
    font-family: Alatsi;
    font-size: 20px;
    color: #857066;
  }

  .headtitles{
    font-family: Bayon;
    letter-spacing: 5px;
    color: #857066;
    font-size: 35px;
    

  }

  .bodytextitalic{
    font-family: Alatsi;
    font-size: 20px;
    color: #857066;
    font-style: italic;
  }

  .card-panel{
    height: 315px;
    padding-top: 115px;
    border-radius: 10px;
    
    background-color: white;
}

.containerextra {
    margin: 0 auto;
    max-width: 1280px;
    width: 85%;
  }
  
  .image-upload>input {
    display: none;
  }

.modal{
  border-radius: 10px;
  background-color: #D6B3AA;
  margin-top: 100px;
  height: 300px;
  width: 300px;
}

.modtext{
  font-family: Alatsi;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 70px;
}

.btn-small{
  background-color: white;
  border-radius: 20px;
  height: 50px;
  width: 90px;
  color: #776257;

  
 
}

  